

body{
    font-family: "Work Sans", Arial, sans-serif;
}

.navbar{
    margin-bottom: 0;

}

.navbar-collapse, .navbar-default{
    background-color: white;
    max-width:990px;
    padding-right: 0;
}

.navbar-toggle{
    margin-top: 20px;
    background-color: #fff;
}

.nav{
    background-color: #FFF;
    max-width: 500px;
}

.navbar-nav > li > a{
    padding: 30px 25px 27px;
    text-transform: uppercase;
}

.navbar-default{
    border: none;
}

.menu-separator{
    padding-top: 29px;
}

.logo{
    display: block;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > a:hover{
    background: transparent;
    color: #FF6600;
}

.informatii{
    min-width:198px;
    background-color: #FF6600;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    float:right;
    padding: 8px 5px 9px 5px;
}

.font1{
    font-size: 18px;
}

.font2{
    font-size: 22px;
}

.photo{
    height: 550px;
    overflow: hidden;
    background-image: url("../images/destinatii/slider_Two_final.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

h2{
    color: #FF6600;
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

h4{
    color: #FF6600;
    font-size: 16px;
    text-transform: uppercase;
}

a {
    color: #01A7C1;
    text-decoration: none;
}

.center-title{
    text-align: center;
    width: 850px;
    opacity: 0.8;
    font-size: 22px;
    padding: 20px 10px;
    margin: -350px auto 150px auto;
}

.boxes{
    background: transparent;
    margin: 45px 0 15px;
    height: 530px;
}

.box{
    border-radius: 5px;
    padding: 10px;
    background-color: #FFF;
    width:306px;
    float: left;
    height: 445px;
    /*box-shadow: 0px 10px 5px #888888;*/
    -webkit-box-shadow: 0px 5px 8px -2px rgba(46, 50, 50, 0.47);
    -moz-box-shadow:    0px 5px 8px -2px rgba(46, 50, 50, 0.47);
    box-shadow:         0px 5px 8px -2px rgba(46, 50, 50, 0.47);
}

.box p{
    color:#a7a8aa;
    margin-top: 8px;
    font-size: 8px;
}

.btn{
    width:110px;
    height:40px;
    border-radius: 5px;
    color:#FFF;
    text-align: center;
    padding: 10px;
}

.box p a{
    color:#000;
}

.red-btn{
    float:left;
    background-color: #a60234;
}

.grey-btn{
    float:right;
    background-color: #01A7C1;
}

.margin-left{
    margin-left: 35px;
}

.footer{
    padding: 30px 0 30px 0;
}

.footer ul{
    list-style: none;
}

.footer ul a{
    color: #000000;
}

@media (max-width:991px) {
    .margin-left{
        margin-left: 0;;
    }

    .box{
        margin: 10px auto 0;
        display: block;
        float:none;
    }

    .boxes{
        margin: 0 auto;
        display: block;
        position: relative;
    }
}

@media (max-width:767px){

    ul.nav{
        width: 100%;
        max-width: 100%;
    }

    .nav > li.menu-separator{
        display: none;
    }

    .navbar-nav > li > a{
        padding: 15px;
        background-color: #e5d6c1;
        width:100%;
    }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > li > a:hover{
        background-color: #e5d6c1;
    }

    .informatii{
        width:100%;
        display: block;
    }
}
